<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <link type="text/css" rel="stylesheet" href="./grid.css">
    <link type="text/css" rel="stylesheet" href="./main.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Shelf homepage</title>
</head>
<body>
<div class="wrapper">
    <div role="navigation">
        <input type="button" id="logout-btn" name="logout-btn" value="Logout" class="mgmt-btn btn btn-light btn-lg">
    </div>
    
    
<div class="add-book-background hidden"></div>
<div class="add-book-dialog hidden" role="region">
    <a class="close-btn"></a>
    <h2>Add to Shelf</h2>   
    <form action="#" class="add-book-form" name="add-book-form">
        <label for="book-search" class="input-label">
            <input type="text" id="book-search" name="book-search" placeholder="search books..." aria-label="book search">
        </label>            
        <button type="submit" class="btn btn-primary btn-md">Find</button>
    </form>    
    <div class="volume-searchresults grid">
    </div>
</div>
<div class="book-result-dialog hidden" role="region">
    
    <p id="warningInfo"></p>
</div>

    <header role="banner">
        <h1><span class="fa fa-book"></span> Shelf</h1> 
        <p>Record your reads</p><br>
        <!--<p id="access-token"></p>-->
        <input type="button" id="add-book-btn" name="add-book-btn" value="Add book" class="btn btn-primary btn-lg"><br>
        <!--<input type="button" id="refresh-token-btn" name="refresh-token-btn" value="Refresh access token" class="btn btn-default btn-lg">-->
    </header>
    
    <main role="main">
        <div class="user-books grid">
        </div>
    </main>
    
</div>

    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="./google-books-search.js"></script>
<script type="text/javascript" src="./api-calls.js"></script>
<script type="text/javascript" src="./app.js"></script>
</body>
</html>
