<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <link type="text/css" rel="stylesheet" href="./main.css">
    <title></title>
</head>
<body>
    <div class="wrapper">
        <header role="banner">
            <h1>Log In</h1>
        </header>

        <main role="main">
            <form action="#" class="login-form" name="login-form">
                <label for="email" class="input-label">
                    <input type="text" id="email" name="email" placeholder="Email"  autocomplete="Email"><br>
                </label>
                <label for="password" class="input-label">
                    <input type="text" id="password" name="password" placeholder="Password"><br><br>
                </label>

                <button type="submit">Login</button>
            </form>
        </main>

        <footer>
        </footer>
    </div>
</body>
</html>
