<!DOCTYPE html>
<html lang="en" style="background-color: #eee">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <link type="text/css" rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <title>Shelf signup</title>
</head>
<body>
    <div role="navigation">
        <input type="button" id="back-btn" name="back-btn" value="Back" class="mgmt-btn btn btn-light btn-lg" onclick="window.location='/index.html'" aria-label="Back">
    </div>

    <div class="wrapper jumbotron">

        <header role="banner">
            <h1>Signup</h1>
        </header>

        <main role="main">
            <form action="#" class="signup-form" name="signup-form">
                <label for="fullname" class="input-label">
                    <input type="text" id="fullname" name="fullname" placeholder="Full Name" autocomplete="Name" aria-label="fullname">
                </label><br>
                <label for="username" class="input-label">
                    <input type="text" id="username" name="username" placeholder="Username" aria-label="username">
                </label><br>
                <label for="password" class="input-label">
                    <input type="password" id="password" name="password" placeholder="Password" autocomplete="current-password>" aria-label="password">
                </label><br>
                <button type="submit" class="btn btn-light btn-lg signup-btn">Submit</button>
                <p class="auth-warning"></p >
            </form>
            <form class="proceed-form" name="proceed-form">    
                <button type="submit" class="btn btn-primary btn-lg proceed-btn hidden">Success! Proceed to Login</button>
            </form>
        </main>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="./api-calls.js"></script>
<script type="text/javascript" src="./signup.js"></script>
</body>
</html>
