<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124817636-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-124817636-3');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <link type="text/css" rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Shelf signup</title>
</head>
<body>
    <div role="navigation">
        <input type="button" id="back-btn" name="back-btn" value="Back" class="mgmt-btn btn btn-light btn-lg" onclick="window.location='/index.html'" aria-label="Back">
    </div>

    <div class="wrapper">

        <header role="banner">
            <h1><span class="fa fa-book"></span> Signup</h1>
        </header>

        <main role="main">
            <form action="#" class="signup-form" name="signup-form">
                <label for="fullname" class="input-label">
                    <input type="text" class="form-control form-control-lg" id="fullname" name="fullname" placeholder="Full Name" autocomplete="Name" aria-label="fullname">
                </label><br>
                <label for="username" class="input-label">
                    <input type="text" class="form-control form-control-lg" id="username" name="username" placeholder="Username" aria-label="username">
                </label><br>
                <label for="password" class="input-label">
                    <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password" autocomplete="current-password>" aria-label="password">
                </label><br>
                <button type="submit" class="btn btn-light btn-lg signup-btn">Submit</button>
                <p class="auth-warning"></p >
            </form>
        </main>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="./api-calls.js"></script>
<script type="text/javascript" src="./signup.js"></script>
</body>
</html>
