<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <title></title>
</head>
<body>
    <header role="banner">
        <h1>Signup</h1>
    </header>
    
    <main role="main">
        <form action="#" class="login-form" name="login-form">
            <label for="fullname" class="input-label">
                <input type="text" id="fullname" name="fullname" placeholder="Full Name" autocomplete="Name"><br>
            </label>
            <label for="email" class="input-label">
                <input type="text" id="email" name="email" placeholder="Email"  autocomplete="Email"><br>
            </label>
            <label for="password" class="input-label">
                <input type="text" id="password" name="password" placeholder="Password"><br><br>
            </label>
            
            <button type="submit">Submit</button>
        </form>
    </main>
    
    <footer>
    </footer>
</body>
</html>
