* {
    box-sizing: border-box;
    margin: 0;
} 

body::before {
    content: "";
    z-index: -2;
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(./shelf.jpg) no-repeat center center fixed; 
    background-size: cover;
    
    filter: blur(3px);
}
body {
    font-family: "Helvetica Neue","Helvetica","Arial","sans-serif" !important;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    
}

header {
    margin-bottom: 0px !important;
    color: white;
}

header h1 {
    font-size: 58px;
    font-weight: 300;
    margin: 20px auto 20px auto;
}
header p {
    font-size: 30px;
    font-weight: 300;
}

.wrapper {
    text-align: center;
}

.hidden {
    display: none !important;
}

.user-books {
    margin-top: 50px;
}
.user-book {
    text-align: left;
}
.user-book a {
    text-decoration: underline !important;
    color: #007bff !important;
}

.mgmt-btn {
    top: 10px;
    position: absolute;
    right: 10px
}
.add-book-background {
    background-color: #000000bd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.add-book-dialog {
    width: 85%;
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    background-color: white;
    margin: auto;
    z-index: 3;
    text-align: center;
    border: 2px solid black;
    min-height: 250px;
}

.book-result-dialog {
    width:85%;
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    margin: auto;
    z-index: 3;
    text-align: left;
    top: 5%;
    min-height: 750px;
    border: 2px solid black;
    padding: 10px 30px 10px 30px; 
}

.add-book-form {
    margin: 25px;
}

.result {
    padding: 20px;
    color: white;
}
.index-nav {
   margin-top: 35px; 
}
.warning-on {
    margin-top: 15px;
    text-align: center;
    color: white;
    background-color: #ec0202;
    font-weight: bold;
    font-size: 22px;
}
.proceed-btn {
    font-size: 28px !important;
}

.update-rating-form {
    display: inline;
}

/* CLOSE BUTTON */
.close-btn {
  font: 30px/100% arial, sans-serif;
  position: absolute;
  right: 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
  color: #23405B;
}
.close-btn:after {
  content: 'X'; /* ANSI X letter */
}
.btn-danger {
    background-color: #951717 !important;
    border-color: #740606 !important;
}
.btn-primary {
    background-color: #1072c7 !important;
    border-color: #032e54 !important;   
}


@media screen and (max-width: 850px) {
    
    .book-result-dialog {
        min-height: 150px;
    }
    header input {
        display: block !important;
        margin: auto;
    }
    header h1 {
        font-size: 70px;
        margin-top: 70px;
    }
    header p {
        font-size: 33px;
    }
    .btn-lg {
        font-size: 25px !important;
    }
    .index-nav {
        display: block !important;
    }

}
