* {
    box-sizing: border-box;
    margin: 0;
} 
html {
    font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
}

header {
    margin-bottom: 30px;
}

header, h1, h2 {
    color: #23405B;
}
header h1 {
    font-size: 58px;
    font-weight: 300;
    margin: 20px auto 10px auto;
}
header p {
    font-size: 30px;
    font-weight: 300;
}
.wrapper {
    text-align: center;
}

.hidden {
    display: none;
}

.add-book-background {
    background-color: #000000bd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.add-book-dialog {
    width: 75%;
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    margin: auto;
    z-index: 3;
    text-align: center;
    border: 2px solid black;
    min-height: 250px;
}

.book-result-dialog {
    width: 55%;
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    margin: auto;
    z-index: 3;
    text-align: center;
    top: 20%;
    min-height: 750px;
    border: 2px solid black;
}
.book-result-close, .add-book-close {
    position: absolute;
    right: 5px;
    top: 5px;
}
.add-book-form {
    margin: 25px;
}

#close-add-book-btn {
    margin: 10px;
}

.book-searchresult-backout {
    padding-top: 15px;
}

.result {
    border: 2px solid #eee;
    padding: 20px;
}

